<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Motors</title>
</head>
<body>
    <header>
        <h1><%= titulo %> </h1>
        <h2><%= subtitulo %> </h2>
    </header>
    <main>
        <hr>
        <% marcas.forEach(marca => { %>
            <h4><%= marca %></h4>
            <hr>
          <% }) %>
    </main>
    
</body>
</html>